{% extends '_base.njk' %}

{% block head %}
  <link rel="stylesheet" href="/docs/style.css">
{%  endblock %}

{% set detailsSelectors = [] %}

{% block body %}
<button class="theme-toggle" onclick="spaish.toggleColorScheme()">💡</button>
<header>
  <a href="/" class="ascii-art">
    {% include '_picossg_asciiart.txt' %}
  </a>
</header>

<div class="content-wrapper">
  <aside>
    <nav>
      {% for category, data in nav.entries() %}
        {% set files = data.items %}
        {% set detailsId = 'toc-'+data.id %}
        {% set detailsSelectors = (detailsSelectors.push('#'+detailsId), detailsSelectors) %}
        
        <details id="{{ detailsId }}">
          <summary>{{ category }}</summary>
          <ul>
            {% for file in files %}
              <li>
                {% if url === file.url %}
                  <a href="{{ file.url }}" class="active">{{ file.title }}</a>
                {% else %}
                  <a href="{{ file.url }}">{{ file.title }}</a>
                {% endif %}
                
                {% if url === file.url %}
                  <ul class="secondLevelHeadlines"></ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </details>
      {% endfor %}
    </nav>
    
    <small class="meta">
      <hr/>
      PicoSSG v{{ _site.picoSsgVersion }}
      <br/>
      <a href="https://codeberg.org/wolframkriesing/picossg">Source code</a>
      <br/>
      <a href="https://mastodontech.de/@wolframkriesing">Contact</a>
      
      <br/>
      <br/>
      Last update<br/>
      <time datetime="{{ date }}">{{ _stats.lastModified.dateISO | readableDateTime }}</time>
      <div style="font-size: x-small">
        in <a href="{{ _stats.lastModified.prettyUrlPath }}">{{ _stats.lastModified.filename }}</a>
      </div>
    </small>
  </aside>

  <main>
    {{ content | safe }}
  </main>
</div>

{% include '_allow2copy.html' %}

<script>
  const toSlug = (s) => s.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '');
  const makeAllSectionsLinkable = (prefix='section') => {
    const $sections = document.querySelectorAll('h1, h2, h3, h4, h5, h6');
    $sections.forEach(($section) => {
      if (!$section.id) {
        $section.id = `${prefix}-${toSlug($section.textContent.trim())}`;
      }
    });
  };
  const showLinkForAllSections = () => {
    const $sections = document.querySelectorAll('h1, h2, h3, h4, h5, h6');
    $sections.forEach(($section) => {
      // the following is quite ugly, it changes the width of the section and may add a linebreak, better position
      // it absolute left of the section, but simple, how?
      $section.innerHTML += ` <a href="#${$section.id}" class="anchor-link" aria-label="Link to this section">#</a>`;
    });
  };
  makeAllSectionsLinkable();
  
  const $h2s = document.querySelectorAll('h2');
  const $toc = document.querySelector('.secondLevelHeadlines');
  $h2s.forEach(($h2) => {
    // Add: <li><a href="#section-slug">title</a></li>
    const $li = document.createElement('li');
    $li.innerHTML = `<a href="#${$h2.id}">${$h2.textContent}</a>`;
    $toc.appendChild($li);
  });

  showLinkForAllSections();
</script>

<script>
  const detailsSelectors = {{ detailsSelectors | dump | safe }};
  document.addEventListener('DOMContentLoaded', () => spaish.detailsReopen('picossg-docs', detailsSelectors));
</script>
{% endblock %}
