/* Doc-specific styles that extend the base style.css */

header {
  display: flex;
  border-bottom: 1px solid var(--primary-color);
}

.secondLevelHeadlines {
  font-size: smaller;
}
ul.secondLevelHeadlines {
  margin-top: 0;
}
.secondLevelHeadlines li {
  margin: 0;
  white-space: nowrap;
}
.secondLevelHeadlines a {
  padding: 0;
}