<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Wolfram Kriesing">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PicoSSG - The minimalist static site generator with predictable 1:1 file mapping">

  <title>{{ title }} | picoSSG docs</title>
  <script defer data-domain="picossg.dev" src="https://plausible.io/js/script.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  
  <meta property="og:title" content="{{_site.title}}" />
  
  <meta property="article:tag" content="ssg" />
  <meta property="article:tag" content="JavaScript" />
  <meta property="article:tag" content="static side generator" />
  
  <meta property="og:description" content="{{_site.abstract}}" />
  <meta property="article:description" content="{{_site.abstract}}" />
  <meta name="twitter:description" content="{{_site.abstract}}" />

  <meta property="og:image" content="https://picossg.dev{{_site.summaryImage}}" />
  <meta property="og:image:url"  content="https://picossg.dev{{_site.summaryImage}}" />
  <meta name="twitter:image" content="https://picossg.dev{{_site.summaryImage}}" />
  
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
