{% for page in picossg.findPages('5') %}
  Page {{ loop.index }}
  - filename: {{ page.filename }}
  - layout: {{ page.layout | default('-') }}
  - title: {{  page.title | default('-')  }}
  - prettyUrlPath: {{ page.prettyUrlPath }}
  - rawUrlPath: {{ page.rawUrlPath }}
  - dateCreated: {{ page.dateCreated | default('-')  }}
  - tags: {{ page.tags | default('-')  }}

{% endfor %}
