{% for _, page in allPagesStartingWith2.entries() %}
  Page {{ loop.index }}
  - filename: {{ page._file.relativeFilePath }}
  - layout: {{ page.layout | default('-') }}
  - title: {{  page.title | default('-')  }}
  - prettyUrlPath: {{ page._output.prettyUrlPath }}
  - rawUrlPath: {{ page._output.rawUrlPath }}
  - date: {{ page.date | default('-')  }}
  - tags: {{ page.tags | default('-')  }}

{% endfor %}
